h1{
    display: flex;
    align-items: center;
    justify-content: center;
}



.btn{
    background: rgb(133, 211, 235);
    width: 49px;
    height: 44px;
    margin: 1px;
    font-size: xx-large;
    border-radius: 50px;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    border-radius: 15px;
    background: black;
    border: 2px solid black;
    padding: 10px 10px ;
    height: 240px;
    width: 226px;
}
#uinput{
    width: 200px;
    height: 30px;
    font-size: x-large;
    margin: 10px;
}
#cancel{
    background: rgb(115, 228, 115);
}